main
    background-position: center
    background-size: cover
    min-height: 100svh
    max-height: 100svh
    width: 100%
    color: white
    display: flex
    flex-direction: column

header
    justify-content: space-between
    display: flex
    align-items: center
    height: 108px
    padding: 0px 96px
    position: absolute
    width: 100%
    z-index: 1

    .logo
        align-items: center
        justify-content: center
        img
            height: 48px

    .button
        display: flex
        align-items: center

    @media screen and ( max-width: 768px )
        padding: 0px 16px

        .logo
            img
                height: 32px

.desktop
    display: flex

.mobile
    display: none
   
@media screen and ( max-width: 768px )
    .desktop
        display: none

    .mobile
        display: flex


section
    padding: 0px 96px

    @media screen and ( max-width: 768px )
        padding: 0px 16px

.hero
    flex: 0
    display: flex
    flex-direction: column
    justify-content: start
    padding-top: 128px
    padding-bottom: 96px
    background: linear-gradient(180deg, rgba(20, 20, 20, 0.6) 0%, rgba(20, 20, 20, 0) 50%, #141414 100%)
    top: 0
    position: relative

    img
        position: absolute
        width: 100%
        height: 150%
        object-fit: cover
        top: 0
        left: 0
        z-index: -1

    h1
        font-size: 88px
        margin-bottom: 16px
        @media screen and ( max-width: 768px )
            font-size: 64px

    p
        font-size: 16px
        margin-bottom: 32px

    .button
        height: 48px
        width: fit-content

.video-offer
    flex: 1
    background: black

.footer-component
    position: absolute
    bottom: 0
    right: 96px

    @media screen and ( max-width: 768px )
        right: 50%
        transform: translateX(50%)
        margin-bottom: -32px