*
    margin: 0
    scroll-behavior: smooth
    box-sizing: border-box
    font-family: 'DM Sans', sans-serif
    transition: all 75ms ease-out

html, body
    min-height: 100svh
    max-height: 100svh
    overflow-y: hidden

.button
    background: #2E3EDF
    padding: 12px 24px
    border-radius: 40px
    display: flex
    gap: 4px
    &:hover
        cursor: pointer
        scale: 1.05
        box-shadow: 0px 0px 15px #2E3EDF

.hidden
    display: none !important

::-webkit-scrollbar 
  width: 12px
  height: 12px

::-webkit-scrollbar-thumb 
  background-color: #2E3EDF
  border-radius: 10px

::-webkit-scrollbar-track 
  background-color: #000

::-webkit-scrollbar-thumb:hover 
  cursor: pointer
    
/* dm-sans-regular - latin */
@font-face 
  font-display: swap
  font-family: 'DM Sans'
  font-style: normal
  font-weight: 400
  src: url('../public/assets/fonts/dm-sans-v15-latin-regular.woff2') format('woff2')
