body, html
    background: black

.overlay
    position: absolute
    top: 0
    height: 100%
    width: 100%
    z-index: 1
    display: flex
    flex-direction: column
    justify-content: space-between

    header
        display: flex
        justify-content: space-between
        padding: 10px 32px
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%)

        .back-arrow, .logo
            height: 48px
            width: 48px

        .back-arrow
            &:hover
                cursor: pointer

    footer
        display: flex
        flex-direction: column
        min-width: 100%
        padding: 10px 32px
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%)
        gap: 16px

        .navigation-buttons
            display: flex
            justify-content: space-between

            .left-area, .right-area
                display: flex
                gap: 24px

            .title
                font-size: 24px
                font-weight: 700
                color: white

            .vjs-icon-customization
                color: white
                font-size: 48px
                z-index: 2

            .volume
                font-size: 24px
                position: absolute
                left: 216px
                transform: translateY(-12px)

            select
                background: transparent
                color: white
                border: none
                outline: none
                option
                    color: white
                    background: black

    &:hover
        cursor: pointer

@media screen and ( max-width: 768px )
    .backwards-button, .forwards-button, .volume
        display: none

video, .overlay
    max-height: 100svh
